#myInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
  border: 3px solid grey;
  border-radius: 6px;
  padding: 10px;
  margin: 20px;
  color: black;
  text-align: center;
}

#mainContainer {
  display: flex;
  flex-wrap: wrap;
}

h4 {
  width: 180px;
  height: 33px;
  border: 3px solid grey;
  border-radius: 6px;
  padding: 15px;
  margin: 20px;
  color: black;
  text-align: center;
}

ul li {
  list-style: none;
  width: 250px;
  border: 3px solid blue;
  border-radius: 6px;
  padding: 10px;
  margin: 20px;
  color: black;
  text-align: left;
}

/* using class to hide non result  */
.hidden {
  display: none;
}

#topContainer, #search {
  display: flex;
}

#selectOption {
  height: fit-content;
  width: 300px;
}

option {
  width: 400px;
  padding-left: 20px;
  margin-right: 20px;

}

#result {
  font-size: 1.5rem;
  margin-left: 20px;
}

#disclaimer {
  text-align: center;
}